// animated underline button

.animated-underline {
  display: inline-block !important;

  span:nth-child(1) {
    display: inline-block;

    &:after {
      display: block;
      content: "";
      margin-top: 2px;
      border-color: transparent;
      border-style: solid;
      border-width: 0 0 2px 0;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
  }

  &.fromLeft {
    &:after {
      transform-origin: 0% 50%;
    }
  }
  &:hover,
  &.active {
    span:nth-child(1) {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
