.no-cssgrid,
cssgridlegacy,
.no-flexbox {
  .modernizr-block {
     {
      display: block;
      z-index: 9999;
      pointer-events: auto;
    }
  }
}
.cssgrid,
cssgridlegacy,
.flexbox {
  .modernizr-block {
    display: none;
    position: absolute;
    z-index: -999;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  .modernizr-warn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
}
